{% extends "base.html" %}

{% block title %}Destalle producto{% endblock %}


{% block main%}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid mx-auto d-block border rounded overflow-hidden" src="https://picsum.photos/300/300" alt="">
        </div>

        <div class="col-6">
            <div>
                <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                <span class="badge text-bg-primary">SKU: ABC12345</span>
                <span class="badge text-bg-primary">ID: 12345</span>
            </div>

            <div class="my-3">
                <h3 class="d-inline-block">Precio:</h3>
                <span class="display-6 text-primary">$ 595.000</span>
            </div>

            <div class="my-3">
                <p class="my-0">
                    <i class="fa-solid fa-shield text-primary me-1 "></i> <span class="lead">Garantía - 12 meses</span>
                </p>

                <p class="my-0">
                    <i class="fa-solid fa-truck text-primary me-1 "></i> <span class="lead">Envíos a todo el país.</span> 
                </p>
            </div>

            <button class="btn btn-primary d-block w-100" id="btn-add-carrito">
                <i class="fa-solid fa-cart-shopping me-1"></i>Agregar
            </button>

        </div>
    </div>
</div>
{% endblock %}